@tailwind base;
@tailwind components;
@tailwind utilities;

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}